<a href="https://colab.research.google.com/github/preenet/961733-EnergyDataAnalytics/blob/master/961733_week6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Support Vector Machine with ENB2012 dataset

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
!ls '/content/drive/My Drive/Colab Notebooks'

'961733 Correlation Analysis'	   'Mutual Information ENB2012.ipynb'
'961733_week 5.ipynb'		    Untitled0.ipynb
 961733_week6.ipynb		    Untitled1.ipynb
'Copy of Untitled1.ipynb'	    Untitled2.ipynb
'Copy of Welcome To Colaboratory'   Untitled3.ipynb
 ENB2012_data.xlsx

#1. Import Dataset

In [0]:
path = '/content/drive/My Drive/Colab Notebooks/'

In [0]:
df = pd.read_excel(path+'ENB2012_data.xlsx')

In [0]:
df.head()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [0]:
X = df.iloc[:,:8]
Y = df.iloc[:,8:10]

In [0]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_y = StandardScaler()
X = sc_X.fit_transform(X)
Y = sc_y.fit_transform(Y)

In [0]:
# you can use Kfold method from sklearn.model
from sklearn.model_selection import KFold
cv = KFold(n_splits = 10, shuffle = True, random_state = False)

In [0]:
from sklearn.svm import SVR
from sklearn.metrics import mean_absolute_error
# predicting Y1
cv_scores_test = []
testing_error = []
model = SVR(kernel='rbf')
for train_index, test_index in cv.split(X):
  X_train, X_test = X[train_index], X[test_index]
  y_train, y_test = Y[train_index,0], Y[test_index,0]
  model.fit(X_train, y_train)
  y_test_pred = model.predict(X_test)      
  cv_scores_test = mean_absolute_error(y_test, y_test_pred)
  testing_error.append(cv_scores_test)

In [0]:
print('crosss validation MAE. is:', np.mean(testing_error))

crosss validation MAE. is: 0.1446706647083835

In [0]:
# In python tuning hyper-parem for SVM is easy by using GrideSearCV from model
from sklearn.model_selection import GridSearchCV
# Set the parameters by cross-validation
tuned_parameters = [{'kernel': ['rbf'], 'gamma': [1e-3, 1e-4, 1e-5],
                 'C': [1, 50, 100, 500, 1000, 5000]},
                {'kernel': ['linear'], 'C': [1, 100, 500, 1000, 5000]}]

model2 = GridSearchCV(SVR(kernel='rbf'), tuned_parameters, cv=10)
model2.fit(X_train, y_train)
print(model2.best_params_)

{'C': 5000, 'gamma': 0.001, 'kernel': 'rbf'}

In [0]:
best_model = SVR(kernel='rbf', gamma =0.001, C=1000, verbose =True)

In [0]:
best_model.fit(X_train, y_train)
y_test_pred = best_model.predict(X_test)  
mae = mean_absolute_error(y_test, y_test_pred)
print('best mode return MAE of:', mae)

[LibSVM]best mode return MAE of: 0.15101620603992114